<div class="card-wrapper">
  <mat-card class="{{isDone}}">
    <mat-card-title>{{ settings.title | titlecase }}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <p>{{ settings.description }}</p>
    <mat-card-actions align="end">
      <button *ngIf="settings.status==='to do'" mat-button (click)="markAsDone()">Mark as done</button>
      <button mat-button (click)="removeTask()">Delete</button>
      <button mat-flat-button>
        {{ settings.status | titlecase }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
